.fullApplicationForm {
    background-color: #BEBEBE;
    padding: 60px 0;
}

.welcomeScreen {
    font-family: 'Open Sans',sans-serif;
}

@media only screen and (max-width:580px) {
    .welcomeScreen {
        width: 100%!important;
        border: none!important;
        box-shadow: none!important;
        border-radius: 0!important;
        margin: 0 auto 0px!important;
    }

    .fullApplicationForm {
        margin: 0;
        padding: 5px;
        height: 100%;
        width: 100%;
    }
}
